<?xml version="1.0" encoding="utf-8"?>
<manifest package="jgarciabt.renderingissues"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".overdraw.OverdrawActivity"
            android:label="@string/overdraw_activity_label"/>
        <activity android:name=".nonoverdraw.NonOverdrawActivity"
                  android:label="@string/non_overdraw_activity"/>
        <activity android:name=".comparelayouts.CompareLayoutsActivity"
                  android:label="@string/compare_layouts_activity"/>

    </application>

</manifest>
